*{
    box-sizing: border-box;
    text-align: center;
    background-color: #3f2727 !important;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

@media (max-width: 500px) and (orientation: portrait){
    .landscape{
        display: none;
    }
}

@media (min-width: 501px){
    .portrait{
        display: none;
    }
}


section{
    margin-top: 60px;
}

img{
    border: 3px solid white !important;
    image-rendering: crisp-edges;
    margin: 10px;
    padding: 2px;
}

h1{
    font-size: 200%;
    text-shadow: 2px 2px 2px rgb(216, 142, 45);
    font-weight: bolder;
    margin-bottom: 5px;
}

h2{
    font-size: 1.4em;
    text-shadow: 1px 1px 1px rgb(216, 142, 45);
    font-weight: bolder;
    margin-bottom: 5px;
}

li, ul, ol{
    margin: 2%;
    
    text-align: justify;
    color: white;
}

table{
    width: 98%;
}

table, td, thead, tbody
{
    font-size: 18px;
    padding: 1%;
    border: 5px solid gray;
    margin: 10px;
}

thead{
    font-weight: bolder;
    font-size: 1.5em;
}

th{
    border: 6px solid gray;
    text-align: center;
    margin: 10px;
}

.table.heading{
    color: aqua;
    font-size: xx-large;
    font-weight: bolder;
}

a{
    margin: 15px;
    padding: 5px;
    margin-left: 2px;
    font-family:  'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-weight: bolder;
}

a:hover, a:active{
    font-size: xx-large;
    text-decoration: underline;
}

a:link, a:visited{
    text-decoration: none;
}

#football::before{
    content: "\26BD";
    font-size: xx-large;
}

#cricket::before{
    content: "\1F3CF";
    font-size: xx-large;
}

#scuba::before
{
    content: "🤿";
    font-size: xx-large;
}

#sky::before
{
    content: "🪂";
    font-size: xx-large;
}